<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-sidenav>

  <div class="example-sidenav-content">
    <mat-toolbar>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a href="#">My App</a>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <a href="#">My App</a>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <h1>.mat-display-4</h1>
    <h1>.mat-display-3</h1>
    <h1>.mat-display-2</h1>
    <h1>.mat-display-1</h1>
    <h1>.mat-h1, .mat-headline</h1>
    <h1>.mat-h2, .mat-title</h1>
    <h1>.mat-h3, .mat-subheading-2</h1>
    <h1>.mat-h4, .mat-subheading-1</h1>
    <h1>.mat-body, .mat-body-1</h1>
    <h1>.mat-body-strong, .mat-body-2</h1>
    <h1>.mat-small, .mat-caption</h1>
    <button type="button" mat-button (click)="sidenav.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-sidenav-container>
